@page "/compras"

<PageTitle>Compras - SGIR</PageTitle>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <h2>游 Compras Autom치ticas</h2>
            <div class="alert alert-info mt-3">
                <h5>游뚾 P치gina em Desenvolvimento</h5>
                <p class="mb-0">Esta p치gina est치 sendo desenvolvida e estar치 dispon칤vel em breve.</p>
                <hr>
                <p class="mb-0"><strong>Funcionalidades previstas:</strong></p>
                <ul class="mb-0">
                    <li>Visualizar pedidos de compra gerados automaticamente</li>
                    <li>Aprovar ou rejeitar pedidos</li>
                    <li>Acompanhar status (Pendente, Aprovado, Comprado, Recebido)</li>
                    <li>Registrar dados do fornecedor e n칰mero do pedido</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    // TODO: Implementar gerenciamento de compras autom치ticas
}
