@page "/custos"

<PageTitle>Custos Operacionais - SGIR</PageTitle>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <h2>游눯 Custos Operacionais</h2>
            <div class="alert alert-info mt-3">
                <h5>游뚾 P치gina em Desenvolvimento</h5>
                <p class="mb-0">Esta p치gina est치 sendo desenvolvida e estar치 dispon칤vel em breve.</p>
                <hr>
                <p class="mb-0"><strong>Funcionalidades previstas:</strong></p>
                <ul class="mb-0">
                    <li>Cadastrar custos por projeto</li>
                    <li>Tipos: M칚o de Obra, Material, Equipamento, Transporte, Outros</li>
                    <li>C치lculo autom치tico de valor total</li>
                    <li>Relat칩rios de custos consolidados</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    // TODO: Implementar gerenciamento de custos operacionais
}
